.button {
  width: 280px;

  font: inherit;

  display: inline-block;
  vertical-align: middle;

  padding-top: 17px;
  padding-bottom: 15px;

  font-size: 20px;
  line-height: 1;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-btn;
  background-color: $color-bg-btn;
  border: none;

  &--down {
    color: rgba($color-btn, 0.3)
  }
}
