.button {
  width: 280px;

  font: inherit;

  display: inline-block;
  vertical-align: middle;

  padding-top: 17px;
  padding-bottom: 15px;

  font-size: 20px;
  line-height: 1;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-btn;
  background-color: $color-bg-btn;
  border: none;

  cursor: pointer;

  &--down {
    color: rgba($color-btn, 0.3);
  }

  &--show-all {
    line-height: 1.25;

    padding-top: 13px;
    padding-bottom: 12px;

    color: #444444;
    background-color: #f2f2f2;
  }
}
