.button {
  min-width: 100px;

  font: inherit;

  display: inline-block;
  vertical-align: middle;

  padding-top: 17px;
  padding-bottom: 15px;

  font-size: 20px;
  line-height: 1;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-btn;
  background-color: $color-bg-btn;
  border: none;

  cursor: pointer;

  &--down {
    color: rgba($color-btn, 0.3);
  }

  &--show-all {
    width: 100%;
    margin-top: 23px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 16px;
    line-height: 1.25;

    color: #444444;
    background-color: #f2f2f2;

    @media (min-width: $desktop-width) {
      width: 170px;
    }
  }
}
