.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-right: -5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }

  &:hover .copyright__logo-image {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;

    .copyright__logo-image {
      fill: rgba(#68b738, 0.3);
    }
  }

  cursor: pointer;
}

.copyright__text {
  margin: 0;
  margin-top: -8px;
  margin-left: -2px;
  padding: 0;

  font-family: $sec-font;
  font-size: 16px;
  line-height: 1;

  color: #444444;

  @media (min-width: $tablet-width) {
    margin-right: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 15px;
  }
}

.copyright__logo {
  margin-right: -6px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.copyright__logo-image {
  width: 40px;
  height: 40px;
}
