.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 75px;
}

.copyright__text {
  margin: 0;
  margin-top: -5px;
  margin-left: -2px;
  padding: 0;

  font-family: $sec-font;
  font-size: 16px;
  line-height: 1;

  color: #444444;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.copyright__logo {
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }
}

.copyright__logo-image {
  width: 27px;
  height: 34px;
}
