.features {
  color: #444444;
  background-color: #ffffff;
}

.features__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
  }


  list-style: none;
}

.features__item {
  position: relative;

  display: flex;

  flex-direction: column;
  justify-content: center;

  padding: 20px;
  margin-bottom: 20px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  &--slim::before,
  &--fat::before {
    @include pseudo;

    width: 50px;
    height: 51px;

    left: 22px;
    top: 25px;

    background-color: #68b738;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;

      left: 368px;
      top: 86px;

      margin-left: 80px;
    }
  }

  &--slim::after {
    @include pseudo;

    width: 35px;
    height: 49px;

    left: 30px;
    top: 24px;

    background-image: url("../img/icon-cat-slim.svg");

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;

      left: 476px;
      top: 80px;
    }
  }

  &--fat::after {
    @include pseudo;

    width: 67px;
    height: 28px;

    left: 13px;
    top: 36px;

    background-image: url("../img/icon-cat-pro.svg");

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;

      left: 410px;
      top: 132px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 373px;

    padding: 53px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;

    &::before {
      display: block;

      width: 100px;
      height: 100px;

      top: 47px;
      left: -28px;
    }

    &--slim::after {
      display: block;

      width: 70px;
      height: 97px;

      top: 41px;
      left: 66px;
    }

    &--fat::after {
      display: block;

      width: 134px;
      height: 56px;

      top: 69px;
      left: 33px;
    }
  }
}

.features__title {
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 1.54;
  text-transform: uppercase;
  text-align: center;

  color: #111111;

  &--fat {
    margin-left: 38px;
    margin-top: 14px;
  }

  @media (min-width: $tablet-width) {
    width: 350px;
    margin-left: 20px;
    margin-top: 10px;

    text-align: left;

    font-size: 36px;
    line-height: 1.03;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;

    width: auto;
    margin-left: 20px;
    margin-top: 22px;
    min-height: 100px;

    text-align: center;

    &--fat {
      top: 11px;

      margin-top: 10px;
      margin-left: 63px;
    }
  }
}

.features__description {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 20px;

  font-family: $sec-font;
  font-size: 14px;
  line-height: 1.29;

  color: #444444;
  border-bottom: 1px solid rgba(#444444, 0.1);

  @media (min-width: $tablet-width) {
    width: 380px;
    margin-top: 25px;

    font-size: 16px;
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
    margin-top: 10px;
    margin-left: -1px;
  }

  &--fat {
    @media (min-width: $tablet-width) {
      margin-top: 22px;
      margin-left: -1px;
    }
  }
}

.features__link {
  position: relative;

  font-size: 16px;
  line-height: 1;

  text-transform: uppercase;
  text-decoration: none;

  color: #111111;

  &::after {
    @include pseudo;

    top: 4px;
    left: 95px;

    width: 25px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 6px;
      left: 133px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 350px;

    margin-top: 55px;

    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    margin-left: -2px;
    min-height: 50px;
  }

  &--fat {
    &::after {
      @media (min-width: $tablet-width) {
        top: 6px;
        left: 125px;
      }
    }
  }
}
