.features {
  @media (min-width: $tablet-width) {
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }

  color: #444444;
  background-color: #ffffff;
}

.features__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
  }


  list-style: none;
}

.features__item {
  position: relative;

  display: flex;

  flex-direction: column;
  justify-content: center;

  padding: 20px;
  margin-bottom: 20px;

  background-color: #f2f2f2;

  &--fat {
    padding-top: 22px;
  }

  &--slim::before,
  &--fat::before {
    @include pseudo;

    width: 50px;
    height: 51px;

    left: 23px;
    top: 22px;

    background-color: #68b738;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;

      right: 62px;
      left: inherit;
      top: 93px;
    }
  }

  &--fat::before {
    top: 23px;

    @media (min-width: $tablet-width) {
      top: 90px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 63px 43px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    display: block;

    min-width: 570px;
    padding-top: 58px;
    padding-bottom: 54px;

    &::before {
      display: block;

      width: 100px;
      height: 100px;

      top: 47px;
      left: 53px;
    }

    &--slim::after {
      display: block;

      width: 70px;
      height: 97px;

      top: 41px;
      left: 66px;
    }

    &--fat::after {
      display: block;

      width: 134px;
      height: 56px;

      top: 69px;
      left: 33px;
    }
  }
}

.features__title {
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;

  padding: 0;
  padding-left: 62px;

  font-size: 24px;
  font-weight: 400;
  line-height: 1.54;
  text-transform: uppercase;

  color: #111111;

  &--fat {
    margin-top: 9px;
  }

  @media (min-width: $tablet-width) {
    width: 350px;

    padding-left: 0;
    margin-top: 16px;

    text-align: left;
    font-size: 36px;
    line-height: 1.03;

    &--fat {
      margin-left: 10px;
      margin-top: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;

    min-height: 80px;
    width: auto;

    margin-left: 23px;
    margin-top: 17px;

    text-align: center;

    &--fat {
      top: 11px;

      margin-top: 10px;
      margin-left: 63px;
    }
  }
}

.features__description {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 22px;
  margin: 0;
  margin-bottom: 21px;

  max-width: 230px;

  font-family: $sec-font;
  font-size: 14px;
  line-height: 1.29;

  color: #444444;
  border-bottom: 1px solid rgba(#444444, 0.1);

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 8px;
    padding-top: 24px;
    padding-bottom: 41px;
    padding-right: 240px;

    font-size: 16px;
    line-height: 1.5;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 470px;

    padding-top: 32px;
    padding-bottom: 30px;
    padding-right: 0;
  }

  &--fat {
    @media (min-width: $tablet-width) {
      padding-right: 270px;
      padding-top: 25px;
    }

    @media (min-width: $desktop-width) {
      min-width: 470px;
      padding-right: 0;
      padding-top: 38px;
    }
  }
}

.features__link {
  position: relative;

  font-size: 16px;
  line-height: 1;

  text-transform: uppercase;
  text-decoration: none;

  color: #111111;

  @media (min-width: $tablet-width) {
    width: 350px;

    margin-top: 15px;
    margin-left: 10px;

    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &--fat {
    &::after {
      @media (min-width: $tablet-width) {
        top: 6px;
        left: 125px;
      }
    }
  }
}


.icon-cat-slim {
  position: absolute;

  left: 30px;
  top: 24px;

  display: block;
  width: 35px;
  height: 49px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;

    right: 92px;
    left: inherit;
    top: 82px;
  }

  @media (min-width: $desktop-width) {
    top: 38px;
    left: 67px;
    right: inherit;

    width: 71px;
    height: 97px;
  }
}

.icon-cat-fat {
  position: absolute;

  left: 13px;
  top: 35px;

  display: block;
  width: 67px;
  height: 28px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;

    right: 28px;
    left: inherit;
    top: 135px;
  }

  @media (min-width: $desktop-width) {
    top: 69px;
    left: 35px;
    right: inherit;

    width: 134px;
    height: 57px;
  }
}

.icon-right-arrow-long {
  position: absolute;

  top: 0;
  left: 95px;

  display: block;
  width: 25px;
  height: 12px;

  @media (min-width: $tablet-width) {
    top: 5px;
    left: 131px;
  }
}
