.how-it-works {
  color: #444444;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
  }
}

.how-it-works__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 0;
  margin-top: 2px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    margin-top: 44px;
  }
}

.how-it-works__item {
  position: relative;
  margin-top: 27px;

  z-index: 1;

  &::before {
    @include pseudo;

    width: 60px;
    height: 60px;

    left: 0;
    top: -3px;

    background-color: #68b738;
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      .page-header__logo {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }
  }

  &--instant::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      .page-header__logo {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }
  }

  &--water::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      .page-header__logo {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }
  }

  &--weight::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      .page-header__logo {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }

  &::after {
    @include pseudo($display: none);

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--leaf::after {
    @include how-it-works-counter("1");

    left: 119px;
  }

  &--instant::after {
    @include how-it-works-counter("2");
  }

  &--water::after {
    @include how-it-works-counter("3");
  }

  &--weight::after {
    @include how-it-works-counter("4");
  }

  @media (min-width: $tablet-width) {
    width: 325px;
    height: 291px;

    margin-top: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.how-it-works__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;

  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
  }
}

.how-it-works__description {
  margin: 0;
  margin-left: 80px;
  padding: 0;

  font-family: $sec-font;
  font-size: 14px;
  line-height: 1.29;

  color: #444444;

  @media (min-width: $tablet-width) {
    max-width: 245px;
    margin-top: 110px;
    margin-left: 0;

    font-size: 16px;
    line-height: 1.5;
  }
}
