.how-it-works {
  padding: 20px;

  color: #444444;
  background-color: #ffffff;
}

.how-it-works__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.how-it-works__item {
  position: relative;
  margin-top: 30px;

  &::before {
    @include pseudo;

    width: 60px;
    height: 60px;

    left: 0;
    top: 0;

    background-color: #68b738;
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--instant::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--water::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--weight::before {
    background-image: url("../img/advantage-clock@1x.png");
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }
}

.how-it-works__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;

  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
}

.how-it-works__description {
  margin-left: 70px;

  font-family: $sec-font;
  font-size: 14px;
  line-height: 1.29;

  color: #444444;

  @media (min-width: $tablet-width) {
    min-width: 100px;
    margin-top: 100px;
    margin-left: 0;

    font-size: 16px;
    line-height: 1.5;
  }
}
