.more-products {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #111111;
  background-color: #ffffff;
}

.more-products__text {
  margin-top: 81px;

  font-size: 16px;
  line-height: 1.25;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-top: 135px;

    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    width: 145px;

    margin-top: 140px;
  }
}

.more-products__slogan {
  margin: 0;
  margin-top: 9px;
  margin-left: -4px;
  padding: 0;

  font-family: $sec-font;
  font-size: 12px;
  line-height: 1.33;

  text-align: center;

  color: #444444;

  @media (min-width: $tablet-width) {
    width: 200px;
    margin-top: 24px;

    font-size: 16px;
    font-weight: normal;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }
}

.more-products__show-all {
  @media (min-width: $tablet-width) {
    margin-top: 85px;
  }
}
