.more-products {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  color: #111111;
  background-color: #ffffff;

  &::after {
    @include pseudo;

    top: 27px;
    left: 0;
    right: 0;

    width: 30px;
    height: 30px;
    margin: 0 auto;

    background-image: url("../img/icon-plus-mobile.svg");
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      background-image: url("../img/icon-plus.svg");

      top: 14px;
      height: 60px;
      width: 60px;
    }

    @media (min-width: $desktop-width) {
      top: 15px;
      left: 3px;
    }
  }
}

.more-products__text {
  margin-top: 80px;

  font-size: 16px;
  line-height: 1.25;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-top: 124px;

    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    width: 145px;

    margin-top: 125px;
  }
}

.more-products__slogan {
  margin: 0;
  margin-top: 8px;
  margin-left: -2px;
  padding: 0;

  font-family: $sec-font;
  font-size: 12px;
  line-height: 1.33;

  text-align: center;

  color: #444444;

  @media (min-width: $tablet-width) {
    width: 200px;
    margin-top: 25px;

    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
  }
}

.more-products__show-all {
  @media (min-width: $tablet-width) {
    margin-top: 86px;
    margin-bottom: 16px;
  }
}
