.order-button {
  width: auto;

  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  line-height: 1.25;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: 250px;

    margin-top: 34px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
    margin-top: 33px;
    margin-bottom: 17px;
  }
}
