.page-main {
  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
  }
}

.page-main__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-top: 27px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    min-height: 800px;

    margin-top: 36px;
    margin-bottom: 0;
    margin-left: 88px;
  }

  @media (min-width: $desktop-width) {
    min-height: 571px;

    margin-left: 79px;
  }
}

.page-main__title {
  margin: 0;
  padding: 0;

  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;

  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 510px;

    color: #111111;
    font-size: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 26px;
  }
}

.page-main__slogan {
  margin: 0;
  margin-top: 26px;
  padding: 0;

  color: #ffffff;
  font-size: 14px;
  line-height: 1;

  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 43px;

    color: #111111;
    font-size: 20px;
    text-align: left;
  }
}

.page-main__image {
  position: relative;

  display: block;
  margin: 0 auto;
  margin-top: 30px;

  min-width: 280px;

  @media (min-width: $tablet-width) {
    position: absolute;

    bottom: -11px;
    right: 0;

    min-width: 709px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -84px;
    right: 218px;
    left: inherit;
    bottom: inherit;

    min-width: 552px;
  }
}

.page-main__button {
  width: 100%;

  padding: 10px;
  margin-top: 2px;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;

  @media (min-width: $tablet-width) {
    z-index: 1;

    width: 246px;

    padding: 15px;
    margin-top: 47px;

    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 54px;
  }
}
