.page-menu {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-menu__item {
  position: relative;
  display: block;

  padding-top: 24px;
  padding-bottom: 24px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.page-menu__link {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-text;

  &--active {
    border-bottom: 2px solid #68b738;
  }

  &:hover:not(&--active) {
    color: rgba($color-text, 0.6);
  }

  &--down {
    color: rgba($color-text, 0.3);
  }
}

.page-menu__bg-link {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;

  &--active {
    border-bottom: 2px solid #ffffff;
  }

  &:hover:not(&--active) {
    color: rgba(#ffffff, 0.6);
  }

  &--down {
    color: rgba(#ffffff, 0.3);
  }
}
