.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 96px;
}

.page-footer__logo-image {
  width: 128px;
  height: 24px;
}

.page-footer__social {
  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 150px;
  }
}
