.page-catalog {
  min-height: 3163px;

  @media (min-width: $tablet-width) {
    min-height: 4022px;
  }

  @media (min-width: $desktop-width) {
    min-height: 2168px;
  }
}

.page-catalog__products {
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.page-catalog__more-products {
padding: 20px;
}
