.page-menu {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    :first-child {
      min-width: 148px;
      text-align: right;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;

    :first-child {
      min-width: 200px;
    }
  }
}

.page-menu__item {
  position: relative;
  display: block;

  min-width: 174px;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 6px;

  text-align: center;

  &::before {
    @include pseudo(block, relative);

    margin-left: -20px;
    margin-right: -20px;

    bottom: 24px;
    left: 0;

    border-top: 1px solid rgba(#444444, 0.1);
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      display: none;
    }

    &:last-child {
      margin-right: 0;
    }

    margin-right: 18px;
  }

  @media (min-width: $desktop-width) {
    min-width: 200px;
    margin-right: 3px;

    text-align: right;

    &:last-child {
      margin-right: -5px;
    }
  }
}

.page-menu__link {
  position: relative;

  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-text;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.39;
  }

  &:hover {
    color: rgba($color-text, 0.6);
  }

  &--down {
    color: rgba($color-text, 0.3);
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.25;
  }

  &--bg-active,
  &--bg {
    @media (min-width: $desktop-width) {
      color: #ffffff;
    }

    &:hover {
      @media (min-width: $desktop-width) {
        color: rgba(#ffffff, 0.6);
      }
    }
  }
}
