.page-menu {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    :first-child {
      min-width: auto;

      text-align: right;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;

    :first-child {
      min-width: 200px;
    }
  }
}

.page-menu__item {
  position: relative;
  display: block;

  min-width: 187px;

  padding-top: 24px;
  padding-bottom: 24px;

  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-left: -2px;
    padding-top: 22px;
  }

  &::before {
    @include pseudo($position: relative);

    margin-left: -20px;
    margin-right: -20px;

    bottom: 24px;
    left: 0;

    border-top: 1px solid rgba(#444444, 0.1);
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      display: none;
    }

    &:last-child {
      margin-right: 1px;
      padding-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 203px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
      margin-left: -5px;
    }
  }
}

.page-menu__link {
  position: relative;

  font-size: 20px;
  line-height: 1.25;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-text;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.39;
    font-weight: 400;
  }

  &:hover {
    color: rgba($color-text, 0.6);
  }

  &--down {
    color: rgba($color-text, 0.3);
  }

  @media (min-width: $tablet-width) {
    &--active {
      &::after {
        @include pseudo;

        bottom: -8px;
        right: 0;

        height: 2px;
        width: 100%;

        background: #68b738;
      }
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.25;
  }

  &--bg-active,
  &--bg {
    @media (min-width: $desktop-width) {
      color: #ffffff;
    }

    &:hover {
      @media (min-width: $desktop-width) {
        color: rgba(#ffffff, 0.6);
      }
    }
  }

  &--bg-active {
    &::after {
      @include pseudo;

      bottom: -8px;
      right: 0;

      height: 2px;
      width: 100%;

      background: #ffffff;

      @media (min-width: $tablet-width) {
        background: #68b738;
      }

      @media (min-width: $desktop-width) {
        background: #ffffff;
      }
    }
  }
}
