.pick-program {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 305px;

  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 100%;

  @media (min-width: $tablet-width) {
    min-height: 800px;
    margin-left: 140px;

    align-items: flex-start;

    color: #111111;
    background-color: transparent;
  }
}

.pick-program__wrapper {
  margin-top: 28px;
}

.pick-program__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-weight: 400;
  line-height: 1;

  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;

    text-align: left;
  }
}

.pick-program__slogan {
  margin: 0;
  margin-top: 25px;

  font-size: 14px;
  line-height: 1;

  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 20px;

    font-size: 20px;

    text-align: left;
  }
}

.pick-program__image {
  position: absolute;

  left: 50%;
  bottom: -26px;

  display: block;

  width: 280px;
  height: 270px;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;

    top: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
  }
}

.pick-program__image-wrapper {
  height: 130px;

  order: 1;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.pick-program__button {
  margin-top: 6px;
  order: 2;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}
