.products {
  color: #111111;
  background-color: #ffffff;
}

.products__list {
  margin: 0;
  padding: 0;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;

    margin-top: 135px;
  }
}

.products__item {
  position: relative;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 40px;
    padding-bottom: 24px;
    height: 100%;
  }

  &::after {
    @include pseudo;

    left: -20px;
    right: -20px;
    top: 0;

    height: 1px;

    background: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    align-items: center;

    min-width: 324px;
    width: calc(50% - 30px);
    min-height: 431px;

    margin-bottom: 140px;
    margin-right: 60px;

    background-color: #f2f2f2;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    width: calc(25% - 60px);
    height: 400px;
    margin-right: 0;
    margin-bottom: 142px;

    background-color: #f2f2f2;
  }

  &--last {
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      border: solid 1px #cdcdcd;
    }
  }
}

.products__title {
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 20px;

  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;

  @media (min-width: $tablet-width) {
    margin-top: 35px;

    font-size: 60px;
    line-height: 1;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    margin-left: 0;
  }
}

.products__name {
  width: 100px;

  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;

  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 140px;

    margin: auto;
    margin-top: 56px;

    text-align: center;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
  }
}

.products__image-link {
  display: block;
  width: 50%;
  height: 144px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;

    height: 213px;
    width: auto;

    margin: -121px -40px 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.products__image {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.products__link {
  display: block;

  color: #111111;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    margin-top: 18px;
  }
}

.products__spec {
  width: 100%;
  margin-top: 12px;

  font-family: $sec-font;
  font-size: 12px;
  line-height: 1.33;

  color: #444444;

  @media (min-width: $tablet-width) {
    min-width: 252px;
    margin: 0 -5px;
    padding-top: 20px;

    font-size: 16px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    min-width: 170px;

    margin-left: -2px;
    margin-right: -2px;
    margin-top: 0;
  }
}

.products__spec-row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.products__field,
.products__value {
  margin: 0;
  margin-right: -2px;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 7px 0;
  }
}

.products__wrapper {
  width: 50%;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    width: 100%;

    padding-top: 0;
    margin-top: -26px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 13px;
  }
}

.products__content {
  display: flex;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}
