.promo {
  position: relative;

  width: 100%;
  min-height: 289px;
  margin-top: 41px;

  background-color: #68b738;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin-top: 73px;
  }

  @media (min-width: $desktop-width) {
    min-height: inherit;
    width: 245px;
    margin-bottom: -5px;
  }
}

.promo__icon {
  position: absolute;

  display: block;

  width: 56px;
  height: 61px;

  top: 65px;
  left: 50%;
  transform: translateX(-50%);

  fill: #ffffff;

  z-index: 1;

  @media (min-width: $tablet-width) {
    left: 90px;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    left: 93px;
  }
}

.promo__image {
  position: absolute;

  width: 280px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.promo__text {
  position: relative;

  top: 187px;
  left: 57px;
  right: 61px;
  max-width: 165px;

  font-family: $sec-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;

  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 56px;
    left: inherit;
    right: 125px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    top: 172px;
    left: 37px;
    right: 37px;

    width: 200px;

    text-align: center;
  }
}
