.promo {
  padding: 20px;

  color: #ffffff;
  background-color: #ffffff;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.promo__title {
  font-size: 36px;
  line-height: 1;

  text-align: center;
}

.promo__subtitle {
  font-size: 14px;
  line-height: 1;

  text-transform: uppercase;

  text-align: center;
}

.promo__image {
  margin-left: -20px;
}
