.promo {
  position: relative;

  color: #ffffff;
  background-color: #ffffff;
}

.promo__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 1;

  text-align: center;
}

.promo__subtitle {
  margin: 0;
  padding: 20px;

  font-size: 14px;
  line-height: 1;

  text-transform: uppercase;

  text-align: center;
}

.promo__image {
  position: absolute;

  left: 0;
  bottom: 50px;

  display: block;

  height: 305px;
  width: 320px;
}

.promo__title-wrapper {
  min-height: 305px;
  padding-top: 10px;

  background-color: #68b738;
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.promo__image-wrapper {
  min-height: 150px;
}
