.results {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-top: 26px;

  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;

    width: 50%;
  }
}

.results__item {
  min-width: 124px;

  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    min-width: 161px;
    margin-right: 43px;
    padding-top: 16px;
  }
}

.results__wrapper {
  position: relative;
  top: 14px;
  margin: 0 16px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    top: 0;

    width: 160px;
    padding: 0 10px;
    margin: auto;

    background-color: transparent;
  }
}

.results__value {
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: #111111;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.results__type {
  margin: 0 auto;
  padding: 0;
  padding-top: 3px;
  max-width: 60px;

  font-family: $sec-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1;

    max-width: 160px;

    position: relative;
    top: 7px;

    background-color: #ffffff;
  }
}
