.social {
  @media (min-width: $tablet-width) {
    margin-top: -5px;
    margin-left: 14px;
  }

  &::before,
  &::after {
    @include pseudo($position: relative);

    bottom: 2px;
    left: 0;

    border-top: 1px solid rgba(#444444, 0.1);
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      display: none;
    }
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 18px 0;
  margin-left: -10px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-left: 5px;
  }

  list-style: none;
}

.social__item {
  margin: 0 19px;

  &:not(:first-child) {
    margin-top: 2px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 14px;

    &:not(:last-child) {
      padding-top: 4px;
    }
  }

  cursor: pointer;
}

.social__icon {
  fill: #666666;

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--inst {
    width: 17px;
    height: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }

  @media (min-width: $tablet-width) {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--inst {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
