.social {
  &::before {
    @include pseudo($position: relative);

    bottom: 4px;
    left: 0;

    border-top: 1px solid rgba(#444444, 0.1);
  }

  &::after {
    @include pseudo($position: relative);

    bottom: 6px;
    left: 0;

    border-top: 1px solid rgba(#444444, 0.1);
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      display: none;
    }
  }
}

.social__list {
  margin: 0 auto;
  padding: 20px 0;

  list-style: none;
}

.social__item {
  display: inline-block;
  vertical-align: top;

  margin: 0 12px;

  cursor: pointer;
}
