.social {
  &::before {
    @include pseudo($position: relative);

    bottom: 4px;
    left: 0;

    border-top: 1px solid rgba(#444444, 0.1);
  }

  &::after {
    @include pseudo($position: relative);

    bottom: 6px;
    left: 0;

    border-top: 1px solid rgba(#444444, 0.1);
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      display: none;
    }
  }
}

.social__list {
  display: flex;

  margin: 19px 0px;
  margin-left: 5px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }

  list-style: none;
}

.social__item {
  width: 24px;
  height: 24px;
  margin: 0 16px;

  cursor: pointer;
}
