@mixin pseudo($display: block, $position: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $position;
}

@mixin last-row($margin-left: 60px) {
  content: "";
  flex: auto;
}
