@mixin pseudo($display: block, $position: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $position;
}

@mixin how-it-works-counter($number) {
  top: -40px;
  left: 113px;

  content: $number;

  font-family: $main-font;

  font-size: 281px;
  line-height: 1;

  letter-spacing: normal;
  text-align: left;
  color: #f2f2f2;

  z-index: -1;
}
