@import "normalize";
@import "fonts";
@import "variables";

@import "blocks/page-menu";
@import "blocks/page-main";
@import "blocks/page-catalog";
@import "blocks/page-footer";
@import "blocks/promo";
@import "blocks/features";
@import "blocks/how-it-works";
@import "blocks/products";
@import "blocks/more-products";
@import "blocks/social";

@import "blocks/button";

body {
    margin: 0;
    padding: 0;

    font-family: "Oswald", "Arial", sans-serif;;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: $color-text;
    background-color: $color-bg-text;
}