$color-text: #111111;
$color-bg-text: #ffffff;

$color-btn: #ffffff;
$color-bg-btn: #68b738;

$main-font: "Oswald", "Arial", sans-serif;
$sec-font: "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
